div{
    padding: 5px;
    margin: 5px;
    background-color: yellow;
    height: 40px;
    width: 40px;
}
.container-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.container-middle{
    display: flex;
    margin-top: 90px;
}